name: rodilo
description: "The best companion app for Armadillo game."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0
  go_router: ^17.0.0
  go_transitions: ^0.8.3
  provider: ^6.1.5+1
  shared_preferences: ^2.5.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  fonts:
    - family: LuckiestGuy
      fonts:
        - asset: fonts/LuckiestGuy-Regular.ttf
